<!DOCTYPE html>
<html lang="en">
  <%- include('header'); -%>
  <body>
    <div class="container">
      <h2 class="mb-3">Match</h2>
      <div class="row m-1 mb-3 pb-3 border-bottom">
        <div class="col-8">
          <div class="row">
            <div class="col-12 fw-bold fs-1"><%= stock.symbol %></div>
            <div class="col-12 d-flex align-items-center text-black-50 pb-2">
              <%= stock.name %>
            </div>
            <div class="col-12 fst-italic"><%= stock.industry %></div>
          </div>
        </div>
        <div class="col-4 pe-4 text-end">
          <img class="logo" src="<%= stock.logo %>" />
        </div>
      </div>
      <div class="row mb-3 ms-1 me-1 connected-steps">
        <div class="col-1"></div>
        <div class="col-2 circle fs-3 pt-3">
          <img
            src="../images/<%= stock.your_sign %>.svg"
            alt="<%= stock.your_sign %>"
          />
        </div>
        <div class="col-2 connector mt-2"></div>
        <div class="col-2 circle fs-3 pt-4"><%= stock.rating %>%</div>
        <div class="col-2 connector mt-2"></div>
        <div class="col-2 circle fs-3 pt-3">
          <img
            src="../images/<%= stock.match_sign %>.svg"
            alt="<%= stock.match_sign %>"
          />
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-2 circle-desc ps-0"><%= stock.your_sign %> (You)</div>
        <div class="col-2 connector-desc"></div>
        <div class="col-2 circle-desc">match</div>
        <div class="col-2 connector-desc"></div>
        <div class="col-2 circle-desc">
          <%= stock.match_sign %> (<%= stock.symbol %>)
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row m-1 mb-3 border-bottom"></div>
      <div class="row m-1 mb-3">
        <div class="col-12"><%= stock.description %></div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <a
            class="btn btn-secondary text-light w-100"
            href="/wish?stock=<%= stock.symbol %>&matchid=<%= stock.match_id %>"
            >Add to Wishlist
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-heart"
              viewBox="0 0 16 16"
            >
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
              />
            </svg>
          </a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <a
            class="btn btn-secondary text-light w-100"
            href="/match?zodiac=<%= stock.your_sign %>"
            >Get another match
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-moon-stars"
              viewBox="0 0 16 16"
            >
              <path
                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"
              />
              <path
                d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <% if (user) { %> <%- include('footer', { page: 'match' }); -%> <% } %>
  </body>
</html>
